.env
wandb
MotionAGFormer/checkpoint/
MotionAGFormer/run/output/
MotionAGFormer/run/lib/checkpoint/
MotionAGFormer/run/video/
venv/
data/
logs/
logs/*
MotionAGFormer/run/vis_for_bvh.py
MotionAGFormer/run/vis_old.py
MotionAGFormer/JsonAnalist_original.py