.env
wandb
MotionAGFormer/checkpoint/
MotionAGFormer/run/output/
MotionAGFormer/run/lib/checkpoint/
MotionAGFormer/run/video/
venv/
data/
logs/
vis_for_bvh.py
vis_old.py
JsonAnalist_original.py
run/
persona/