langchain ==                0.3.7                  
langchain-community ==      0.3.2                 
langchain-core ==           0.3.17                  
langchain-openai ==         0.2.8
langgraph  ==               0.2.48 
openai   ==                 1.54.1  
pydantic ==                 2.9.2 
typing_extensions ==        4.12.2
tiktoken ==                 0.8.0 
python-dotenv